.horizontalLine{
  display: inline-block;
  width: 100%;
  height: -1px;
  border: 1px solid black;
}

.App{

  padding: 50px;
  
  
}
.Itme{
  display: flex;
  align-items: center;
  margin-top: 5px;
  flex-direction: row;
  /* float:left; */
}
/* .Header{
  display: flex;
  flex-direction: column;
} */